<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/brands.min.css"
        integrity="sha512-WxpJXPm/Is1a/dzEdhdaoajpgizHQimaLGL/QqUIAjIihlQqlPQb1V9vkGs9+VzXD7rgI6O+UsSKl4u5K36Ydw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body>
    <div class="bg-gray-200  px-10 py-5 h-25 w-[800px] flex gap-4 m-10 rounded-lg">
        <div class=" bg-red-100 p-4 text-indigo-400 font-bold text-4xl z-30 relative ">LOGO</div>
        <div class=" bg-lime-100 p-4 text-yellow-400 font-bold text-4xl z-40 relative -ml-10">LOGO</div>
        <div class=" bg-purple-100 p-4 text-indigo-400 font-bold text-4xl z-30 relative -ml-10">LOGO</div>
        <div class=" bg-black p-4 text-indigo-400 font-bold text-4xl z-10 relative -ml-10">LOGO</div>
        <div class=" bg-green-100 p-4 text-indigo-400 font-bold text-4xl z-0  relative -ml-10">LOGO</div>
    </div>

</body>

</html>